{% extends 'base.html' %}
{% block content %}
<div id="home" class="container-fluid">
    <div class="row m-5">
        <div class="col m-5">
        </div>
    </div>
    <div class="row mb-1">
        <div class="col m-5 text-center pl-0 pr-5">
            <img id="brand-img-home" class="pb-4" src="../static/images/brand_img.png">
            <a class="brand text-info" href="../home">
                <span id="brand-title-home">
                    RES
                </span>
            </a>          
        </div>
    </div>
    <div class="row mt-1">
        <div class="col text-center">
                <button id="buy" class="btn btn-info d-inline-block m-2 pl-5 pr-5" type="submit">
                    Buy
                </button>
                <button id="sell" class="btn btn-outline-info d-inline-block m-2 pl-5 pr-5" type="submit">
                    Sell
                </button>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}

        <script type="text/javascript" src="{{ url_for('static', filename = 'home.js') }}"></script>

{% endblock %}
